/* .TrackListContainer {
  border: 1px solid white;
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff20;
  height: 100%;
} */

.TrackListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
