* {
  padding: 0;
  margin: 0;
}
:root {
  --page-padding: 20px;
}
main {
  padding: var(--page-padding);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  background-color: darkslategray;
}
.btn {
  color: #000000;
  background-color: lightgreen;
  border-radius: 8em;
  padding: 16px 40px;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.btn:hover {
  background-color: greenyellow;
}

.Header {
  /* padding: 20px;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: strech;
  box-sizing: border-box; /* Include padding in total width and height */
}

.SearchContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box; /* Include padding in total width and height */
  align-items: center;
  gap: 16px;
}

.Content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  padding: 20px 0;
}

.Tracklist,
.Playlist {
  flex: 1; /* Each child will have equal width */
  flex-grow: 1; /* Each child will grow to fill the available space */
  flex-basis: 0; /* Distribute available space equally among flex items */
  border: 1px solid white;
  border-radius: 12px;
  background-color: #ffffff20;
  height: 100%;
  padding: 20px;
}
