/* .search {
  border: 2px solid white;
  background: transparent;
  border-radius: 8em;
  padding: 16px 40px;
} */
.searchContainer {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center vertically */
  gap: 8px;
}

.searchInput {
  font-size: px;
  color: white;
  position: relative;
  flex: 1; /* Take up remaining space */
  border: 2px solid white;
  background: transparent;
  border-radius: 8em;
  padding: 16px 40px;
  max-width: 500px;
  cursor: pointer; /* Add pointer cursor for better UX */

  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: none;

  margin-right: 0.6em;
  min-width: 15em;

  z-index: 1;
}

.searchInput::-webkit-search-cancel-button {
  display: none;
}
.searchInput:hover {
  background-color: #ffffff20;
}

.searchIcon {
  fill: white;
  position: absolute;
  margin-left: 12px;
  z-index: 99;
}
.btn {
  color: #000000;
  background-color: lightgreen;
  border-radius: 8em;
  padding: 16px 40px;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.btn:hover {
  background-color: greenyellow;
}
